.mini-header{
    width: 70vw;
    margin-left:15vw;
}
.products-menu-container{
    width: 70vw;
    margin:auto;
    display:flex;
    align-items: flex-start;
}
.products-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    div:hover{          
        border-color: black;
        border-width: 3px;
    }
    .card{
        border-style: solid;
        border-color: rgb(209, 209, 209);
        margin:1em;

        .image-container{

            img{
                display: block;
                margin-left:auto;
                margin-right:auto;
            } 
        }
        .variants-image-holder{
            display: flex;
            .variants-image{
                width: 1vw;
                height:1vw;
                margin-left:5%;
                margin-top:3%;
            }
        }
       
        .name{
            margin-left:5%;
            margin-right:5%;
            margin-top:3%;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            font-size: 1vw;
        }
        .price{
            margin-left:5%;
            font-size:1vw;
        }
    }
}
