.menu-container{
    width:20%;
    background-color: rgb(234, 234, 240);
  
    border-style:solid;
    border-width: 2.5px;
    padding-left:2%;
    padding-top:2%;
    margin-top:1em;
    a{
        display:block;
    }
    .variants-image{
        width: 30%;
        height:30%;
    }


}