    <div class="footer-wrapper">
        <div class='section-holder'>
            <div class='section'>
                <h6>Explore</h6>
                <p>Men</p>
                <p>Women</p>
                <p>Clothing</p>
                <p>Accessories</p>
                <p>Jewelry</p>
            </div>
            <div class='section'>
                <h6>Overwiev</h6>
                <p>About us</p>
                <p>Contact</p>
                <p>Privacy and policy</p>
                <p>Terms of use</p>
            </div>
            <div class='section'>
                <h6>Avdertise</h6>
                <p>Medi Kit</p>
                <p>Contact</p>
            </div>

            <div class='section'>
                <h6>Folow us</h6>
                <div class='section-images'>
                    <img src="/images/footer/facebook-logo-png-2.png">
                    <img src="/images/footer/twitter-icon-67.png">
                    <img src="/images/footer/instagram-icon-962.png">
                    <img src="/images/footer/gmail-icon-38468.png">
                    <img src="/images/footer/phone-icon-944.png">
                </div> 
            </div>
        </div>
    </div>
    <script src="/scripts/products-filter.js"></script>
    <script src="/scripts/product-description-filters.js"></script>
    <script src="/scripts/main.js"></script>
    </body>
</html>