<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <div class="header-wrapper">
            <div class="free-shipping">
                FREE SHIPPIN OF ALL ORDERS ABOVE 99
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/mens">Online Store</a></li>
                    <li><a href="/mens">Men</a></li>
                    <li><a href="/womens">Women</a></li>

                    <li><a href="#">Store Locator</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">EN</a></li>

                </ul>
            </div>

        </div>